{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Welcome to your BudgetApp</h1>
                <div class="row">
                    <div class="col-xs-12">
                        <a href="/budget/create" class="btn btn-primary">Add New Item</a>
                    </div>
                </div>
                <h3>Edit Item</h3>
                <table class="table">
                    {% if form is defined %}
                        {{form_start(form)}}
                        {{form_widget(form)}}
                        {{form_end(form)}}
                    {% endif %}
                </table>
            </div>


            <div id="status">
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}